* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #fff;
}